<span class="badge">

  @switch (
    type()
  ) {

    @case ('Electricity') {
      <svg lucideZap
        [size]="14"
        [strokeWidth]="2"
      ></svg>

      Electricity
    }

    @case ('Water') {
      <svg lucideDroplets
        [size]="14"
        [strokeWidth]="2"
      ></svg>

      Water
    }

    @case ('Gas') {
      <svg lucideFlame
        [size]="14"
        [strokeWidth]="2"
      ></svg>

      Gas
    }

    @case ('Internet') {
      <svg lucideWifi
        [size]="14"
        [strokeWidth]="2"
      ></svg>

      Internet
    }

    @default {
      <svg lucideCircleHelp
        [size]="14"
        [strokeWidth]="2"
      ></svg>

      {{ type() || 'Other' }}
    }

  }

</span>
