<div class="form-page">

  @if (loading()) {

    <app-spin
      size="large"
      [label]="'laundry.loadingOne' | translate" />

  } @else if (errorMessage()) {

    <section class="state">
      <strong>
        {{ 'laundry.loadOneFailed' | translate }}
      </strong>

      <span>
        {{ errorMessage() }}
      </span>

      <button
        type="button"
        (click)="load()">
        {{ 'common.tryAgain' | translate }}
      </button>
    </section>

  } @else if (item(); as request) {

    <header>
      <span>
        {{ 'laundry.section' | translate }}
      </span>

      <h1>
        {{ 'laundry.edit' | translate }}
      </h1>

      <p>
        {{ request.referenceNumber }}
      </p>
    </header>

    <app-laundry-form
      submitLabel="laundry.saveChanges"
      [showReferenceNumber]="false"
      [initialBranchId]="request.branchId"
      [initialReferenceNumber]="request.referenceNumber"
      [initialTitle]="request.title"
      [initialNotes]="request.notes"
      [initialAmount]="request.amount"
      [initialEventAtUtc]="request.eventAtUtc"
      [initialRelatedEntityId]="request.relatedEntityId"
      [initialRelatedEntityType]="request.relatedEntityType"
      [submitting]="submitting()"
      (submitted)="submit($event)"
      (cancelled)="cancel()" />

  }

</div>
