<section class="form-page">

  @if (loading()) {
    <div class="state-box">
      <app-spin
        [inline]="true"
        size="small"
        [label]="
          'departments.loadingOne'
            | translate
        " />
    </div>
  } @else if (error()) {
    <div class="state-box state-box--error">
      <p>
        {{ error() }}
      </p>
      <button
        type="button"
        class="button button--secondary"
        (click)="load()">
        {{ 'departments.tryAgain' | translate }}
      </button>
    </div>
  } @else if (
    department();
    as item
  ) {
    <header class="form-page__header">
      <a
        class="back-link"
        [routerLink]="[
            '/app/hr/departments',
          item.id
        ]">
        <span class="back-link__icon">
          <svg lucideArrowLeft></svg>
        </span>
        <span class="back-link__text">
          {{ item.name }}
        </span>
      </a>

      <p>
        {{ 'departments.section' | translate }}
      </p>

      <h1>
        {{ 'departments.editTitle' | translate }}
      </h1>

      <span class="form-page__description">
        {{
          'departments.editDescription'
            | translate
        }}
      </span>
    </header>

    <app-department-form
      [name]="item.name"
      [code]="item.code"
      [description]="item.description"
      [isActive]="item.isActive"
      [saving]="saving()"
      [showStatus]="true"
      [submitLabel]="
        'departments.saveChanges'
          | translate
      "
      (submitted)="save($event)"
      (cancelled)="cancel()" />
  }

</section>
