<article class="room-item">

  <div class="room-main">

    <span class="room-icon">
      <svg lucideBed></svg>
    </span>


    <div class="room-info">

      <strong>
        {{
          'availability.roomNumberValue'
            | translate:{
                number:
                  room().roomNumber
              }
        }}
      </strong>


      <small>
        {{ room().roomTypeName }}
      </small>

    </div>

  </div>


  <div class="room-meta">

    <div class="rate">

      <span>
        {{
          'availability.baseRate'
            | translate
        }}
      </span>

      <strong>
        {{
          room().baseRate
            | number:'1.2-2'
        }}
      </strong>

    </div>


    <span
      class="status"
      [class.status--available]="
        isAvailable()
      ">

      {{
        room().status
        ||
        (
          'availability.unknownStatus'
            | translate
        )
      }}

    </span>

  </div>

</article>
