<section class="page">

  <a
    class="back-link"
    routerLink="/app/finance/discounts"
  >
    <svg lucideArrowLeft
      [size]="17"
      [strokeWidth]="2"
    ></svg>

    {{ 'discounts.actions.back' | translate }}
  </a>


  <div class="page-header">
    <svg lucidePlus
      [size]="24"
      [strokeWidth]="2"
    ></svg>

    <div>
      <h1>
        {{ 'discounts.create.title' | translate }}
      </h1>

      <p>
        {{ 'discounts.create.subtitle' | translate }}
      </p>
    </div>
  </div>


  @if (
    errorKey()
  ) {
    <div class="alert">
      {{ errorKey()! | translate }}
    </div>
  }


  <app-discount-form
    [submitting]="submitting()"
    submitLabelKey="discounts.actions.create"
    (submitted)="create($event)"
    (cancelled)="cancel()"
  />

</section>
